body {
}

.navbar-nav > li > a {
    color:black !important;
}

.navbar-nav > li > a:hover{
    color:red !important;
}

.navbar-brand {
    color:black !important;
}

.navbar-brand:hover {
    color: red !important;
}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: red !important;
}