/* default waarde voor de site */
body {
    background-color: lightgrey !important;
}

/* de layout van de tekst van de links in de navbar */
.navbar-nav > li > a {
    color: black !important;
}

    /* De kleur van de highlight in de navbar topside */
    .navbar-nav > li > a:hover {
        color: red !important;
    }

/* de layout van het merk in de navbar */
.navbar-brand {
    color: black !important;    
}

    /* de highlight van het merk */
    .navbar-brand:hover {
        color: red !important;
    }

/* layout voorhet dropdownmenu */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: red !important;
}

/* vergrootglas layout bij de zoekbalk */
.glyphicon {
    color: red !important;
}

/* layout voor het zoekboxje */
#Zoekbalk:focus {
    border-color: red !important;
    outline: none;
    box-shadow: none;
}

#footer {
    
}

/* standaard layout voor de body */

#bodyStandaard {
    border-top-style: solid;
    border-top-color: black;
    border-width: 1px;
    border-spacing: 10px 0px;
    margin: 0 auto;
    padding-top: 20px;

}
/* Layout voor het knopje dat het linkermenu weergeeft */
.buttonLinksMenu {
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 48px;
    margin-top: 10px;
    background-color: #ED1B34 !important;
    color: #FFF !important;
}

/*  layout voor het linker nav menu */
.navigatieLinksMenu {
    height: 100%;
    width: 170px; /* breedte tot aan kolom 2 */
    position: fixed;
    z-index: 1; /* positioneert het op de voorgrond ongeacht wat */
    top: 50px;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    background-color: grey !important;
}

    /* layout voor items in het linkermenu */
    .navigatieLinksMenu a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 16px;
        color: black !important;
        display: block;
    }

    /* als je over een item beweegt, wordt het gehighlight */
        .navigatieLinksMenu a:hover {
            color: red !important;
        }

/* voor de telefoon evt ? dient nog gecheckt te worden
*@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}*/


/* standaard button voor bv opslaan/annuleren */
.btn-default {
    color: #fff !important;
    background: #000 !important;
    border-color: transparent !important;
    outline: none !important;
    border-radius: unset;
}

/* uitlijning voor de button */
#opslaanContacturen {
    margin-left: 44px;
    margin-top: 40px;
}

/* Zorgt voor de juiste spacing en uitlijning op het formulier (geeft een vaste wijdte aan elk label) */
.labelsGegevens {
    max-width: 514px;
    width: 100%;
}

/* Alle borderDefault.. zijn hier gedefinieerd, op onze layout aangepast.  */
#borderDefaultTop {
    border-top: solid;
    border-top-width: 1px;
    border-color: black !important;
}

#borderDefaultBottom
{
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: black !important;
}

#borderDefaultRight {
    border-right: solid;
    border-right-width: 1px;
    border-color: black !important;
}
#borderDefaultLeft {
    border-left: solid;
    border-left-width: 1px;
    border-color: black !important;
}

#borderDefault {
    border: solid;
    border-width: 1px;
    border-color: black !important;
}
/*Styles voor VakkenKoppelen*/
#labelsVakken {
    max-width: 296px;
    width: 100%;
}

#labelsDagen {
    max-width: 100px;
    width: 100%;
}



/* toevoegen zoom animatie in forms */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}
@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* style aanpassingen, voor de span en de annuleer knop, voor kleine schermen */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .btn-default {
        width: 100%;
    }
}

/* The invulformBeschikbaarheid (background) */
.invulformBeschikbaarheid1, .invulformBeschikbaarheid2, .invulformBeschikbaarheid3, .invulformBeschikbaarheid4, .invulformBeschikbaarheid5{
    display: none; /* standaard verborgen */
    position: fixed; /* gefixeerde positie */
    z-index: 1; /* gepositioneerd op de voorgrond */
    left: 0;
    top: 0;
    width: 100%; /* Volledige wijdte die nodig is */
    height: 100%; /* volledige hoogte die nodig is */
    overflow: auto; /* Indien nodig kan er gescrolled worden */
    background-color: rgb(0,0,0); /* standaard kleur */
    background-color: rgba(0,0,0,0.4); /* zwart w/ opacity*/
    padding-top: 60px;
}

/* invulformBeschikbaarheid Content/Box */
.invulformBeschikbaarheid1-content, .invulformBeschikbaarheid2-content, .invulformBeschikbaarheid3-content, .invulformBeschikbaarheid4-content, .invulformBeschikbaarheid5-content {
    background-color: white !important;
    margin: 5% auto 15% auto; /* 5% van de top af, 15% van de onderkant en in het midden gecentreerd*/
    border: 1px solid #888;
    width: 10%; /* wijdte van het pop up venster */
}