/* default waarde voor de site */
body {
    padding-top: unset !important;
}

/*Font styling*/
h1 {
    color: black !important;
}

/*Navbar styling*/
a.navbar-brand:nth-child(2) > img:nth-child(1) {
    margin-top: -5px !important;
}

div.navbar-form {
    margin-top: unset !important;
    margin-bottom: unset !important;
}

/* de layout van het merk in de navbar */
a.navbar-brand:nth-child(3) {
    color: black !important;
}

/* de layout voor elk list item in de navbar*/
.navbar-left > li:nth-child(-n+10) > a:nth-child(-n+10) {
    color: black !important;
}

.navbar {
    margin-bottom: unset !important;
    border-radius: unset !important;
}

body > nav:nth-child(1) {
    background-color: white;
    border-bottom: 1px black solid;
    border-radius: unset;
}

.submenu {
    border: unset !important;
}

/*Zoekbalk*/
.form-control {
    max-width: 150px !important;
}

.navbar-form {
    margin-top: unset !important;
}

.input-group {
    margin-top: 7px !important;
    max-width: 189px !important;
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

    /* When the input field gets focus, change its width to 100% */
    input[type=text]:focus {
        width: 100%;
    }



/*Sidebar styling*/
div.col-lg-1:nth-child(2) {
    padding-left: unset;
    padding-right: unset
}

div.col-lg-1:nth-child(1) {
    padding-left: unset;
    padding-right: unset;
}

.submenu > div:nth-child(2) {
    padding-left: unset;
    padding-right: unset;
}

/*Breadcrumbs styling (weergave van het pad dat afgelegd is)*/
.breadcrumb {
    margin-top: 20px !important;
}

    .breadcrumb > li:nth-child(-n+10) {
        color: black !important;
    }

    .breadcrumb > li > a:nth-child(-n+10) {
        color: red !important;
    }

.col-lg-1 > div:nth-child(1) {
    background-color: RGB(237, 27, 52);
}

div.container:nth-child(1) {
    margin-left: unset;
    margin-right: unset;
    width: 100% !important;
    padding-right: unset !important;
}

    div.container:nth-child(1) > div:nth-child(1) > button:nth-child(1) {
        margin-right: 30px !important;
    }

/*Pagina styling*/
div.container:nth-child(3) {
    background-color: #E2DDDB !important;
}

/*Zoekbalk styling*/
.zoekbalk {
    max-width: 200px;
}

.col-sm-2 .zoekbalk {
    max-width: 200px;
}

/*navbar bovenin*/
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #2196F3;
            color: white;
        }

    .topnav .search-container {
        float: right;
    }

    .topnav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
    }

    .topnav .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

        .topnav .search-container button:hover {
            background: #ccc;
        }

        /*@media zet breakpoints voor de zoekbalk, wanneer kleiner of groter gemaakt moet worden*/
@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }

        .topnav a, .topnav input[type=text], .topnav .search-container button {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

/*Styles voor VakkenKoppelen*/
#labelsVakken {
    max-width: 296px;
    width: 100%;
}

#labelsDagen {
    max-width: 100px;
    width: 100%;
}

