USE [master]
GO
/****** Object:  Database [RoosterDB]    Script Date: 11/11/2018 18:17:06 ******/
CREATE DATABASE [RoosterDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RoosterDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\RoosterDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RoosterDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\RoosterDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RoosterDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RoosterDB]
GO
/****** Object:  Table [dbo].[Authenticator]    Script Date: 11/11/2018 18:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authenticator](
	[AuthenticatorId] [int] IDENTITY(1,1) NOT NULL,
	[Persoon_Id] [int] NULL,
	[Code] [nvarchar](50) NULL,
	[Timestamp] [datetime] NULL,
 CONSTRAINT [PK_Authenticator] PRIMARY KEY CLUSTERED 
(
	[AuthenticatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LokaalType]    Script Date: 11/11/2018 18:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LokaalType](
	[LokaalTypeId] [int] IDENTITY(1,1) NOT NULL,
	[LokaalTypeNaam] [varchar](45) NULL,
 CONSTRAINT [PK_LokaalType] PRIMARY KEY CLUSTERED 
(
	[LokaalTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persoon]    Script Date: 11/11/2018 18:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persoon](
	[PersoonId] [int] IDENTITY(1,1) NOT NULL,
	[PersoonVoornaam] [varchar](15) NULL,
	[PersoonAchternaam] [varchar](15) NULL,
	[PersoonTelefoonnummer] [int] NULL,
	[PersoonEmail] [nvarchar](30) NULL,
	[PersoonStraat] [varchar](30) NULL,
	[PersoonHuisnummer] [int] NULL,
	[PersoonToevoegingHuisnr] [varchar](1) NULL,
	[PersoonWoonplaats] [varchar](15) NULL,
	[PersoonPostcode] [varchar](6) NULL,
	[PersoonGebruikersnaam] [varchar](30) NULL,
	[PersoonWachtwoord] [nvarchar](30) NULL,
	[PersoonFunctie] [varchar](20) NULL,
	[PersoonContractUren] [int] NULL,
 CONSTRAINT [PK_Persoon] PRIMARY KEY CLUSTERED 
(
	[PersoonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersoonUren]    Script Date: 11/11/2018 18:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersoonUren](
	[UrenBeschikbaarheid_Id] [int] NULL,
	[Persoon_Id] [int] NULL,
	[PersoonUren_Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_PersoonUren] PRIMARY KEY CLUSTERED 
(
	[PersoonUren_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersoonVak]    Script Date: 11/11/2018 18:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersoonVak](
	[Persoon_Id] [int] NULL,
	[Vak_Id] [int] NULL,
	[PersoonVak_Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_PersoonVak] PRIMARY KEY CLUSTERED 
(
	[PersoonVak_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooster]    Script Date: 11/11/2018 18:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooster](
	[RoosterId] [int] IDENTITY(1,1) NOT NULL,
	[PersoonVak_Id] [int] NULL,
	[VakUrenCollege_Id] [int] NULL,
	[Klas] [nchar](20) NULL,
	[VakLokaalType_Id] [int] NULL,
	[StartTijd] [datetime] NULL,
	[EindTijd] [datetime] NULL,
 CONSTRAINT [PK_Rooster] PRIMARY KEY CLUSTERED 
(
	[RoosterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrenBeschikbaarheid]    Script Date: 11/11/2018 18:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrenBeschikbaarheid](
	[UrenBeschikbaarheidId] [int] IDENTITY(1,1) NOT NULL,
	[TijdstipBeschikbaarheid] [datetime] NULL,
	[DagBeschikbaarheid] [varchar](10) NULL,
 CONSTRAINT [PK_UrenBeschikbaarheid] PRIMARY KEY CLUSTERED 
(
	[UrenBeschikbaarheidId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrenCollege]    Script Date: 11/11/2018 18:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrenCollege](
	[UrenCollegeId] [int] IDENTITY(1,1) NOT NULL,
	[CollegeNaam] [varchar](50) NULL,
 CONSTRAINT [PK_UrenCollege] PRIMARY KEY CLUSTERED 
(
	[UrenCollegeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vak]    Script Date: 11/11/2018 18:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vak](
	[VakId] [int] IDENTITY(1,1) NOT NULL,
	[VakNaam] [varchar](30) NULL,
	[VakCode] [nchar](10) NULL,
 CONSTRAINT [PK_Vak] PRIMARY KEY CLUSTERED 
(
	[VakId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VakLokaalType]    Script Date: 11/11/2018 18:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VakLokaalType](
	[LokaalType_Id] [int] NULL,
	[Vak_Id] [int] NULL,
	[VakLokaalType_Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_VakLokaalType] PRIMARY KEY CLUSTERED 
(
	[VakLokaalType_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VakUrenCollege]    Script Date: 11/11/2018 18:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VakUrenCollege](
	[Vak_Id] [int] NULL,
	[UrenCollege_Id] [int] NULL,
	[Vakduur] [float] NULL,
	[VakUrenCollege_Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_VakUrenCollege] PRIMARY KEY CLUSTERED 
(
	[VakUrenCollege_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LokaalType] ON 

INSERT [dbo].[LokaalType] ([LokaalTypeId], [LokaalTypeNaam]) VALUES (1, N'Collegezaal')
INSERT [dbo].[LokaalType] ([LokaalTypeId], [LokaalTypeNaam]) VALUES (2, N'Practicumlokaal')
INSERT [dbo].[LokaalType] ([LokaalTypeId], [LokaalTypeNaam]) VALUES (3, N'Leslokaal')
SET IDENTITY_INSERT [dbo].[LokaalType] OFF
SET IDENTITY_INSERT [dbo].[Persoon] ON 

INSERT [dbo].[Persoon] ([PersoonId], [PersoonVoornaam], [PersoonAchternaam], [PersoonTelefoonnummer], [PersoonEmail], [PersoonStraat], [PersoonHuisnummer], [PersoonToevoegingHuisnr], [PersoonWoonplaats], [PersoonPostcode], [PersoonGebruikersnaam], [PersoonWachtwoord], [PersoonFunctie], [PersoonContractUren]) VALUES (3, N'Mitchell', N'Bink', 648977453, N'1331221bink@zuyd.nl', N'Karel van den Oeverstraat', 40, NULL, N'Heerlen', N'6416TG', N'M.Bink', N'Welkom123', N'Docent', NULL)
INSERT [dbo].[Persoon] ([PersoonId], [PersoonVoornaam], [PersoonAchternaam], [PersoonTelefoonnummer], [PersoonEmail], [PersoonStraat], [PersoonHuisnummer], [PersoonToevoegingHuisnr], [PersoonWoonplaats], [PersoonPostcode], [PersoonGebruikersnaam], [PersoonWachtwoord], [PersoonFunctie], [PersoonContractUren]) VALUES (7, N'Micha', N'Rijsmus', 123456789, N'1759213rijsmus@zuyd.nl', N'Wall straat', 1, N'A', N'Amsterdam', N'1234AB', N'M.Rijsmus', N'Welkom123', N'Docent', NULL)
INSERT [dbo].[Persoon] ([PersoonId], [PersoonVoornaam], [PersoonAchternaam], [PersoonTelefoonnummer], [PersoonEmail], [PersoonStraat], [PersoonHuisnummer], [PersoonToevoegingHuisnr], [PersoonWoonplaats], [PersoonPostcode], [PersoonGebruikersnaam], [PersoonWachtwoord], [PersoonFunctie], [PersoonContractUren]) VALUES (8, N'Natasja', N'Pisters', 123456789, N'123145pisters@zuyd.nl', N'Ergens ', 3, NULL, N'Ook ergens', N'1234BA', N'N.Pisters', N'Welkom123', N'Docent', NULL)
SET IDENTITY_INSERT [dbo].[Persoon] OFF
SET IDENTITY_INSERT [dbo].[PersoonVak] ON 

INSERT [dbo].[PersoonVak] ([Persoon_Id], [Vak_Id], [PersoonVak_Id]) VALUES (3, 1, 1)
INSERT [dbo].[PersoonVak] ([Persoon_Id], [Vak_Id], [PersoonVak_Id]) VALUES (3, 2, 2)
INSERT [dbo].[PersoonVak] ([Persoon_Id], [Vak_Id], [PersoonVak_Id]) VALUES (7, 4, 3)
SET IDENTITY_INSERT [dbo].[PersoonVak] OFF
SET IDENTITY_INSERT [dbo].[Rooster] ON 

INSERT [dbo].[Rooster] ([RoosterId], [PersoonVak_Id], [VakUrenCollege_Id], [Klas], [VakLokaalType_Id], [StartTijd], [EindTijd]) VALUES (3, 1, 1, N'ADD1                ', 1, CAST(N'2018-11-12T09:00:00.000' AS DateTime), CAST(N'2018-11-12T13:00:00.000' AS DateTime))
INSERT [dbo].[Rooster] ([RoosterId], [PersoonVak_Id], [VakUrenCollege_Id], [Klas], [VakLokaalType_Id], [StartTijd], [EindTijd]) VALUES (4, 2, 2, N'ADS1                ', 2, CAST(N'2018-11-12T11:00:00.000' AS DateTime), CAST(N'2018-11-12T14:00:00.000' AS DateTime))
INSERT [dbo].[Rooster] ([RoosterId], [PersoonVak_Id], [VakUrenCollege_Id], [Klas], [VakLokaalType_Id], [StartTijd], [EindTijd]) VALUES (6, 2, 2, N'ADD2                ', 3, CAST(N'2018-11-13T14:00:00.000' AS DateTime), CAST(N'2018-11-14T15:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Rooster] OFF
SET IDENTITY_INSERT [dbo].[UrenBeschikbaarheid] ON 

INSERT [dbo].[UrenBeschikbaarheid] ([UrenBeschikbaarheidId], [TijdstipBeschikbaarheid], [DagBeschikbaarheid]) VALUES (1, CAST(N'2018-11-11T09:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[UrenBeschikbaarheid] OFF
SET IDENTITY_INSERT [dbo].[UrenCollege] ON 

INSERT [dbo].[UrenCollege] ([UrenCollegeId], [CollegeNaam]) VALUES (1, N'Hoorcollege')
INSERT [dbo].[UrenCollege] ([UrenCollegeId], [CollegeNaam]) VALUES (2, N'Werkcollege')
INSERT [dbo].[UrenCollege] ([UrenCollegeId], [CollegeNaam]) VALUES (3, N'DiscussieCollege')
SET IDENTITY_INSERT [dbo].[UrenCollege] OFF
SET IDENTITY_INSERT [dbo].[Vak] ON 

INSERT [dbo].[Vak] ([VakId], [VakNaam], [VakCode]) VALUES (1, N'Scripting', N'A1A2      ')
INSERT [dbo].[Vak] ([VakId], [VakNaam], [VakCode]) VALUES (2, N'Testen', N'A1A3      ')
INSERT [dbo].[Vak] ([VakId], [VakNaam], [VakCode]) VALUES (3, N'Programmeerconcepten', N'A1A4      ')
SET IDENTITY_INSERT [dbo].[Vak] OFF
SET IDENTITY_INSERT [dbo].[VakLokaalType] ON 

INSERT [dbo].[VakLokaalType] ([LokaalType_Id], [Vak_Id], [VakLokaalType_Id]) VALUES (1, 1, 1)
INSERT [dbo].[VakLokaalType] ([LokaalType_Id], [Vak_Id], [VakLokaalType_Id]) VALUES (1, 2, 2)
INSERT [dbo].[VakLokaalType] ([LokaalType_Id], [Vak_Id], [VakLokaalType_Id]) VALUES (2, 4, 3)
SET IDENTITY_INSERT [dbo].[VakLokaalType] OFF
SET IDENTITY_INSERT [dbo].[VakUrenCollege] ON 

INSERT [dbo].[VakUrenCollege] ([Vak_Id], [UrenCollege_Id], [Vakduur], [VakUrenCollege_Id]) VALUES (5, 1, 3, 1)
INSERT [dbo].[VakUrenCollege] ([Vak_Id], [UrenCollege_Id], [Vakduur], [VakUrenCollege_Id]) VALUES (2, 2, 4, 2)
INSERT [dbo].[VakUrenCollege] ([Vak_Id], [UrenCollege_Id], [Vakduur], [VakUrenCollege_Id]) VALUES (4, 3, 3, 3)
SET IDENTITY_INSERT [dbo].[VakUrenCollege] OFF
ALTER TABLE [dbo].[Authenticator]  WITH CHECK ADD  CONSTRAINT [FK_Authenticator_Persoon] FOREIGN KEY([Persoon_Id])
REFERENCES [dbo].[Persoon] ([PersoonId])
GO
ALTER TABLE [dbo].[Authenticator] CHECK CONSTRAINT [FK_Authenticator_Persoon]
GO
ALTER TABLE [dbo].[PersoonUren]  WITH CHECK ADD  CONSTRAINT [FK_PersoonUren_Persoon] FOREIGN KEY([Persoon_Id])
REFERENCES [dbo].[Persoon] ([PersoonId])
GO
ALTER TABLE [dbo].[PersoonUren] CHECK CONSTRAINT [FK_PersoonUren_Persoon]
GO
ALTER TABLE [dbo].[PersoonUren]  WITH CHECK ADD  CONSTRAINT [FK_PersoonUren_UrenBeschikbaarheid] FOREIGN KEY([UrenBeschikbaarheid_Id])
REFERENCES [dbo].[UrenBeschikbaarheid] ([UrenBeschikbaarheidId])
GO
ALTER TABLE [dbo].[PersoonUren] CHECK CONSTRAINT [FK_PersoonUren_UrenBeschikbaarheid]
GO
ALTER TABLE [dbo].[PersoonVak]  WITH CHECK ADD  CONSTRAINT [FK_PersoonVak_Persoon] FOREIGN KEY([Persoon_Id])
REFERENCES [dbo].[Persoon] ([PersoonId])
GO
ALTER TABLE [dbo].[PersoonVak] CHECK CONSTRAINT [FK_PersoonVak_Persoon]
GO
ALTER TABLE [dbo].[PersoonVak]  WITH CHECK ADD  CONSTRAINT [FK_PersoonVak_Vak] FOREIGN KEY([Vak_Id])
REFERENCES [dbo].[Vak] ([VakId])
GO
ALTER TABLE [dbo].[PersoonVak] CHECK CONSTRAINT [FK_PersoonVak_Vak]
GO
ALTER TABLE [dbo].[Rooster]  WITH CHECK ADD  CONSTRAINT [FK_Rooster_PersoonVak] FOREIGN KEY([PersoonVak_Id])
REFERENCES [dbo].[PersoonVak] ([PersoonVak_Id])
GO
ALTER TABLE [dbo].[Rooster] CHECK CONSTRAINT [FK_Rooster_PersoonVak]
GO
ALTER TABLE [dbo].[Rooster]  WITH CHECK ADD  CONSTRAINT [FK_Rooster_VakLokaalType] FOREIGN KEY([VakLokaalType_Id])
REFERENCES [dbo].[VakLokaalType] ([VakLokaalType_Id])
GO
ALTER TABLE [dbo].[Rooster] CHECK CONSTRAINT [FK_Rooster_VakLokaalType]
GO
ALTER TABLE [dbo].[Rooster]  WITH CHECK ADD  CONSTRAINT [FK_Rooster_VakUrenCollege] FOREIGN KEY([VakUrenCollege_Id])
REFERENCES [dbo].[VakUrenCollege] ([VakUrenCollege_Id])
GO
ALTER TABLE [dbo].[Rooster] CHECK CONSTRAINT [FK_Rooster_VakUrenCollege]
GO
ALTER TABLE [dbo].[VakLokaalType]  WITH CHECK ADD  CONSTRAINT [FK_VakLokaalType_LokaalType] FOREIGN KEY([LokaalType_Id])
REFERENCES [dbo].[LokaalType] ([LokaalTypeId])
GO
ALTER TABLE [dbo].[VakLokaalType] CHECK CONSTRAINT [FK_VakLokaalType_LokaalType]
GO
ALTER TABLE [dbo].[VakLokaalType]  WITH CHECK ADD  CONSTRAINT [FK_VakLokaalType_Vak] FOREIGN KEY([Vak_Id])
REFERENCES [dbo].[Vak] ([VakId])
GO
ALTER TABLE [dbo].[VakLokaalType] CHECK CONSTRAINT [FK_VakLokaalType_Vak]
GO
ALTER TABLE [dbo].[VakUrenCollege]  WITH CHECK ADD  CONSTRAINT [FK_VakUrenCollege_UrenCollege] FOREIGN KEY([UrenCollege_Id])
REFERENCES [dbo].[UrenCollege] ([UrenCollegeId])
GO
ALTER TABLE [dbo].[VakUrenCollege] CHECK CONSTRAINT [FK_VakUrenCollege_UrenCollege]
GO
ALTER TABLE [dbo].[VakUrenCollege]  WITH CHECK ADD  CONSTRAINT [FK_VakUrenCollege_Vak] FOREIGN KEY([Vak_Id])
REFERENCES [dbo].[Vak] ([VakId])
GO
ALTER TABLE [dbo].[VakUrenCollege] CHECK CONSTRAINT [FK_VakUrenCollege_Vak]
GO
/****** Object:  StoredProcedure [dbo].[Select_Rooster]    Script Date: 11/11/2018 18:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_Rooster]
AS
BEGIN
SELECT
dbo.Rooster.PersoonVak_Id,
dbo.Rooster.VakUrenCollege_Id,
dbo.Rooster.Klas,
dbo.Rooster.VakLokaalType_Id,
dbo.Rooster.StartTijd,
dbo.Rooster.EindTijd,
dbo.Vak.VakId,
dbo.Vak.VakNaam,
dbo.Vak.VakCode,
dbo.PersoonVak.PersoonVak_Id,
dbo.PersoonVak.Vak_Id,
dbo.PersoonVak.Persoon_Id,
dbo.Persoon.PersoonId,
dbo.Persoon.PersoonVoornaam,
dbo.Persoon.PersoonAchternaam,
dbo.VakLokaalType.Vak_Id,
dbo.VakLokaalType.LokaalType_Id,
dbo.VakLokaalType.VakLokaalType_Id,
dbo.LokaalType.LokaalTypeId,
dbo.LokaalType.LokaalTypeNaam

FROM
dbo.Rooster
INNER JOIN dbo.PersoonVak ON dbo.Rooster.PersoonVak_Id = dbo.PersoonVak.PersoonVak_Id
INNER JOIN dbo.Vak ON dbo.PersoonVak.Vak_Id = dbo.Vak.VakId
INNER JOIN dbo.Persoon ON dbo.PersoonVak.Persoon_Id = dbo.Persoon.PersoonId
INNER JOIN dbo.VakLokaalType ON dbo.VakLokaalType.Vak_Id = dbo.Vak.VakId AND dbo.Rooster.VakLokaalType_Id = dbo.VakLokaalType.VakLokaalType_Id
INNER JOIN dbo.LokaalType ON dbo.VakLokaalType.LokaalType_Id = dbo.LokaalType.LokaalTypeId

END
GO
USE [master]
GO
