@{
    ViewBag.Title = "Uren roosteraar";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <ol class="breadcrumb">
        <h1>Roostersysteem Zuyd</h1>
        <li>@Html.ActionLink("Home", "Home", "Home")</li>
        <li>Uren</li>
        <li class="active">Uren Roosteraar</li>
    </ol>
</body>
</html>
