@{
    ViewBag.Title = "UrenDocent";
}

@* Gemaakt door: Mitchell; op 28-10: layout gemaakt/ bijbehorende styles aangemaakt*@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/content/bootstrap.js")

<html>
<body>
    <ol class="breadcrumb">
        <h1>Roostersysteem Zuyd</h1>
        <li>@Html.ActionLink("Home", "Home", "Home")</li>
        <li>Uren</li>
        <li class="active">Uren Docent</li>
    </ol>

    <div>
        @* Selecteren van dag(en)*@
        <div>
            <fieldset>
                <legend>
                    Beschikbaarheid doorgeven
                </legend>
                <div class="col-lg-11" style="margin-left:-16px;">
                    <p>Selecteer een lesblok uit het dropdown menu hieronder:</p>
                    <select name="Lesblok" style="max-width:100px; width:100%">
                        <option value="blok1">Blok 1</option>
                        <option value="blok2">Blok 2</option>
                        <option value="blok3">Blok 3</option>
                        <option value="blok4">Blok 4</option>
                    </select>
                    <br />
                    <p>Selecteer een lesweek uit het dropdown menu hieronder:</p>
                    <select name="Lesblok" style="max-width:100px; width:100%">
                        <option value="lesweek1">Lesweek 1</option>
                        <option value="lesweek2">Lesweek 2</option>
                        <option value="lesweek3">Lesweek 3</option>
                        <option value="lesweek4">Lesweek 4</option>

                    </select>
                    <br />
                    <p>Selecteer een of meerdere dag(en) hieronder:</p>
                    <div class="checkbox" style="margin-left: 20px;">
                        @* event (call naar het script) voor het aanroepen van de boxen*@
                        <input type="checkbox" value="maandag" onclick="document.getElementById('idMaandag').style.display='block'"> Maandag <br />
                        <input type="checkbox" value="dinsdag" onclick="document.getElementById('idDinsdag').style.display='block'"> Dinsdag <br />
                        <input type="checkbox" value="woensdag" onclick="document.getElementById('idWoensdag').style.display='block'"> Woensdag <br />
                        <input type="checkbox" value="donderdag" onclick="document.getElementById('idDonderdag').style.display='block'"> Donderdag <br />
                        <input type="checkbox" value="vrijdag" onclick="document.getElementById('idVrijdag').style.display='block'"> Vrijdag <br />

                    </div>
                </div>
            </fieldset>
        </div>

        @* form beschikbaarheid maandag / update alleen de aangekruiste dagen *@
        <div id="idMaandag" class="invulformBeschikbaarheid1">

            @* pop up invulling*@
            <form class="invulformBeschikbaarheid1-content animate">


                <div class="col-lg-offset-1">
                    <br />
                    <label style="font-size:12px; max-width:160px;">
                        Geef hieronder aan welke tijden u beschikbaar bent voor schoolse activiteiten:
                    </label>
                    <br />
                </div>

                <div class="col-lg-offset-3" style="margin-left:22%">

                    <label>
                        <input type="checkbox" name="ma1"> 09:00 - 09:30
                    </label>
                    <label>
                        <input type="checkbox" name="ma2"> 09:30 - 10:00
                    </label>
                    <label>
                        <input type="checkbox" name="ma3"> 10:00 - 10:30
                    </label>
                    <label>
                        <input type="checkbox" name="ma4"> 10:30 - 11:00
                    </label>
                    <label>
                        <input type="checkbox" name="ma5"> 11:00 - 11:30
                    </label>
                    <label>
                        <input type="checkbox" name="ma6"> 11:30 - 12:00
                    </label>
                    <label>
                        <input type="checkbox" name="ma7"> 12:00 - 12:30
                    </label>
                    <label>
                        <input type="checkbox" name="ma8"> 12:30 - 13:00
                    </label>
                    <label>
                        <input type="checkbox" name="ma9"> 13:00 - 13:30
                    </label>
                    <label>
                        <input type="checkbox" name="ma10"> 13:30 - 14:00
                    </label>
                    <label>
                        <input type="checkbox" name="ma11"> 14:00 - 14:30
                    </label>
                    <label>
                        <input type="checkbox" name="ma12"> 14:30 - 15:00
                    </label>
                    <label>
                        <input type="checkbox" name="ma13"> 15:00 - 15:30
                    </label>
                    <label>
                        <input type="checkbox" name="ma14"> 15:30 - 16:00
                    </label>
                    <label>
                        <input type="checkbox" name="ma15"> 16:00 - 16:30
                    </label>
                    <label>
                        <input type="checkbox" name="ma16"> 16:30 - 17:00
                    </label>
                    <label>
                        <input type="checkbox" name="ma17"> 17:00 - 17:30
                    </label>
                    <br />
                </div>

                @* Terug button *@
                <div class="col-lg-offset-2" style="margin-left: 21.667%;">
                    <button type="button" onclick="document.getElementById('idMaandag').style.display='none'" class="btn-default">Terug</button>
                    <br />
                </div>

                <div><br /></div>

            </form>
        </div>

        @* form beschikbaarheid dinsdag / update alleen de aangekruiste dagen *@
        <div id="idDinsdag" class="invulformBeschikbaarheid2">

            @* pop up invulling*@
            <form class="invulformBeschikbaarheid2-content animate">


                <div class="col-lg-offset-1">
                    <br />
                    <label style="font-size:12px; max-width:160px;">
                        Geef hieronder aan welke tijden u beschikbaar bent voor schoolse activiteiten:
                    </label>
                    <br />
                </div>

                <div class="col-lg-offset-3" style="margin-left:22%">

                    <label>
                        <input type="checkbox" name="di1"> 09:00 - 09:30
                    </label>
                    <label>
                        <input type="checkbox" name="di2"> 09:30 - 10:00
                    </label>
                    <label>
                        <input type="checkbox" name="di3"> 10:00 - 10:30
                    </label>
                    <label>
                        <input type="checkbox" name="di4"> 10:30 - 11:00
                    </label>
                    <label>
                        <input type="checkbox" name="di5"> 11:00 - 11:30
                    </label>
                    <label>
                        <input type="checkbox" name="di6"> 11:30 - 12:00
                    </label>
                    <label>
                        <input type="checkbox" name="di7"> 12:00 - 12:30
                    </label>
                    <label>
                        <input type="checkbox" name="di8"> 12:30 - 13:00
                    </label>
                    <label>
                        <input type="checkbox" name="di9"> 13:00 - 13:30
                    </label>
                    <label>
                        <input type="checkbox" name="di10"> 13:30 - 14:00
                    </label>
                    <label>
                        <input type="checkbox" name="di11"> 14:00 - 14:30
                    </label>
                    <label>
                        <input type="checkbox" name="di12"> 14:30 - 15:00
                    </label>
                    <label>
                        <input type="checkbox" name="di13"> 15:00 - 15:30
                    </label>
                    <label>
                        <input type="checkbox" name="di14"> 15:30 - 16:00
                    </label>
                    <label>
                        <input type="checkbox" name="di15"> 16:00 - 16:30
                    </label>
                    <label>
                        <input type="checkbox" name="di16"> 16:30 - 17:00
                    </label>
                    <label>
                        <input type="checkbox" name="di17"> 17:00 - 17:30
                    </label>
                    <br />
                </div>

                @* terug button *@
                <div class="col-lg-offset-2" style="margin-left: 21.667%;">
                    <button type="button" onclick="document.getElementById('idDinsdag').style.display='none'" class="btn-default">Terug</button>
                    <br />
                </div>

                <div><br /></div>

            </form>
        </div>

        @* form beschikbaarheid woensdag / update alleen de aangekruiste dagen *@
        <div id="idWoensdag" class="invulformBeschikbaarheid3">

            @* pop up invulling*@
            <form class="invulformBeschikbaarheid3-content animate">


                <div class="col-lg-offset-1">
                    <br />
                    <label style="font-size:12px; max-width:160px;">
                        Geef hieronder aan welke tijden u beschikbaar bent voor schoolse activiteiten:
                    </label>
                    <br />
                </div>

                <div class="col-lg-offset-3" style="margin-left:22%">

                    <label>
                        <input type="checkbox" name="wo1"> 09:00 - 09:30
                    </label>
                    <label>
                        <input type="checkbox" name="wo2"> 09:30 - 10:00
                    </label>
                    <label>
                        <input type="checkbox" name="wo3"> 10:00 - 10:30
                    </label>
                    <label>
                        <input type="checkbox" name="wo4"> 10:30 - 11:00
                    </label>
                    <label>
                        <input type="checkbox" name="wo5"> 11:00 - 11:30
                    </label>
                    <label>
                        <input type="checkbox" name="wo6"> 11:30 - 12:00
                    </label>
                    <label>
                        <input type="checkbox" name="wo7"> 12:00 - 12:30
                    </label>
                    <label>
                        <input type="checkbox" name="wo8"> 12:30 - 13:00
                    </label>
                    <label>
                        <input type="checkbox" name="wo9"> 13:00 - 13:30
                    </label>
                    <label>
                        <input type="checkbox" name="wo10"> 13:30 - 14:00
                    </label>
                    <label>
                        <input type="checkbox" name="wo11"> 14:00 - 14:30
                    </label>
                    <label>
                        <input type="checkbox" name="wo12"> 14:30 - 15:00
                    </label>
                    <label>
                        <input type="checkbox" name="wo13"> 15:00 - 15:30
                    </label>
                    <label>
                        <input type="checkbox" name="wo14"> 15:30 - 16:00
                    </label>
                    <label>
                        <input type="checkbox" name="wo15"> 16:00 - 16:30
                    </label>
                    <label>
                        <input type="checkbox" name="wo16"> 16:30 - 17:00
                    </label>
                    <label>
                        <input type="checkbox" name="wo17"> 17:00 - 17:30
                    </label>
                    <br />
                </div>

                @*@* Terug button *@
                <div class="col-lg-offset-2" style="margin-left: 21.667%;">
                    <button type="button" onclick="document.getElementById('idWoensdag').style.display='none'" class="btn-default">Terug</button>
                    <br />
                </div>

                <div><br /></div>

            </form>
        </div>

        @* form beschikbaarheid donderdag / update alleen de aangekruiste dagen *@
        <div id="idDonderdag" class="invulformBeschikbaarheid4">

            @* pop up invulling*@
            <form class="invulformBeschikbaarheid4-content animate">


                <div class="col-lg-offset-1">
                    <br />
                    <label style="font-size:12px; max-width:160px;">
                        Geef hieronder aan welke tijden u beschikbaar bent voor schoolse activiteiten:
                    </label>
                    <br />
                </div>

                <div class="col-lg-offset-3" style="margin-left:22%">

                    <label>
                        <input type="checkbox" name="do1"> 09:00 - 09:30
                    </label>
                    <label>
                        <input type="checkbox" name="do2"> 09:30 - 10:00
                    </label>
                    <label>
                        <input type="checkbox" name="do3"> 10:00 - 10:30
                    </label>
                    <label>
                        <input type="checkbox" name="do4"> 10:30 - 11:00
                    </label>
                    <label>
                        <input type="checkbox" name="do5"> 11:00 - 11:30
                    </label>
                    <label>
                        <input type="checkbox" name="do6"> 11:30 - 12:00
                    </label>
                    <label>
                        <input type="checkbox" name="do7"> 12:00 - 12:30
                    </label>
                    <label>
                        <input type="checkbox" name="do8"> 12:30 - 13:00
                    </label>
                    <label>
                        <input type="checkbox" name="do9"> 13:00 - 13:30
                    </label>
                    <label>
                        <input type="checkbox" name="do10"> 13:30 - 14:00
                    </label>
                    <label>
                        <input type="checkbox" name="do11"> 14:00 - 14:30
                    </label>
                    <label>
                        <input type="checkbox" name="do12"> 14:30 - 15:00
                    </label>
                    <label>
                        <input type="checkbox" name="do13"> 15:00 - 15:30
                    </label>
                    <label>
                        <input type="checkbox" name="do14"> 15:30 - 16:00
                    </label>
                    <label>
                        <input type="checkbox" name="do15"> 16:00 - 16:30
                    </label>
                    <label>
                        <input type="checkbox" name="do16"> 16:30 - 17:00
                    </label>
                    <label>
                        <input type="checkbox" name="do17"> 17:00 - 17:30
                    </label>
                    <br />
                </div>

                @* Terug button *@
                <div class="col-lg-offset-2" style="margin-left: 21.667%;">
                    <button type="button" onclick="document.getElementById('idDonderdag').style.display='none'" class="btn-default">Terug</button>
                    <br />
                </div>

                <div><br /></div>

            </form>
        </div>

        @* form beschikbaarheid vrijdag / update alleen de aangekruiste dagen *@
        <div id="idVrijdag" class="invulformBeschikbaarheid5">

            @* pop up invulling*@
            <form class="invulformBeschikbaarheid5-content animate">


                <div class="col-lg-offset-1">
                    <br />
                    <label style="font-size:12px; max-width:160px;">
                        Geef hieronder aan welke tijden u beschikbaar bent voor schoolse activiteiten:
                    </label>
                    <br />
                </div>

                <div class="col-lg-offset-3" style="margin-left:22%">

                    <label>
                        <input type="checkbox" name="vr1"> 09:00 - 09:30
                    </label>
                    <label>
                        <input type="checkbox" name="vr2"> 09:30 - 10:00
                    </label>
                    <label>
                        <input type="checkbox" name="vr3"> 10:00 - 10:30
                    </label>
                    <label>
                        <input type="checkbox" name="vr4"> 10:30 - 11:00
                    </label>
                    <label>
                        <input type="checkbox" name="vr5"> 11:00 - 11:30
                    </label>
                    <label>
                        <input type="checkbox" name="vr6"> 11:30 - 12:00
                    </label>
                    <label>
                        <input type="checkbox" name="vr7"> 12:00 - 12:30
                    </label>
                    <label>
                        <input type="checkbox" name="vr8"> 12:30 - 13:00
                    </label>
                    <label>
                        <input type="checkbox" name="vr9"> 13:00 - 13:30
                    </label>
                    <label>
                        <input type="checkbox" name="vr10"> 13:30 - 14:00
                    </label>
                    <label>
                        <input type="checkbox" name="vr11"> 14:00 - 14:30
                    </label>
                    <label>
                        <input type="checkbox" name="vr12"> 14:30 - 15:00
                    </label>
                    <label>
                        <input type="checkbox" name="vr13"> 15:00 - 15:30
                    </label>
                    <label>
                        <input type="checkbox" name="vr14"> 15:30 - 16:00
                    </label>
                    <label>
                        <input type="checkbox" name="vr15"> 16:00 - 16:30
                    </label>
                    <label>
                        <input type="checkbox" name="vr16"> 16:30 - 17:00
                    </label>
                    <label>
                        <input type="checkbox" name="vr17"> 17:00 - 17:30
                    </label>
                    <br />
                </div>

                @* Terug button *@
                <div class="col-lg-offset-2" style="margin-left: 21.667%;">
                    <button type="button" onclick="document.getElementById('idVrijdag').style.display='none'" class="btn-default">Terug</button>
                    <br />
                </div>

                <div><br /></div>

            </form>
        </div>

        @* opslaan  *@
        <br />
        
            <fieldset>
                <div id="borderDefaultTop">

                    <div class="col-lg-offset-5" style="margin-left:40%;">
                        <br />
                        <div>
                            <form action="~/Controllers/saveData">
                                <input class="btn-default" onclick="opslaanBeschikbaarheidUrenDocent" id="opslaanGegevens" type="submit" value="Opslaan" />

                            </form>
                                <input class="btn-default" onclick="" id="annuleren" type="submit" value="Annuleren" />
                        </div>
                    </div>
                </div>
            </fieldset>
        
        
        <br />
    </div>
</body>
</html>





