@{
    ViewBag.Title = "Vakcontacturen doorgeven";
}

@* Gemaakt door: Mitchell; op 26-10: layout gemaakt
    bijgewerkt op: 27-10 en 28-10 layout bijgewerkt*@


<html>
<body>
    <ol class="breadcrumb">
        <h1>Roostersysteem Zuyd</h1>
        <li>@Html.ActionLink("Home", "Home", "Home")</li>
        <li>Vakgegevens</li>
        <li class="active">Contacturen doorgeven</li>
    </ol>

    <div class="col-lg-5" style="padding-left:0px;">
        <fieldset>
            <legend>
                Vakcontacturen doorgeven
            </legend>
            <div class="col-lg-8" style="margin-left:-16px;">
                <p>Selecteer een vak uit het dropdown menu hieronder:</p>
                <select name="vak" style="max-width:333px; width:100%">
                    <option value="engels"> Engels</option>
                    <option value="drama"> Drama</option>
                    <option value="lo"> Lichamelijke Opvoeding</option>
                    <option value="frans"> Frans</option>
                    <option value="muziek"> Muziek</option>
                    <option value="nederlands"> Nederlands</option>
                    <option value="duits"> Duits</option>
                    <option value="wiskunde"> Wiskunde</option>
                </select>
            </div>
            <div class=" = col-lg-4">
                <fieldset>
                    <legend style="width:235px;">
                        Contacturen:
                    </legend>
                    <label>
                        Hoorcollege:
                        <br />
                        <input type="text" style="width:235px;" name="hoorcollege" />
                    </label>
                    <br />
                    <label>
                        Practicumcollege:
                        <br />
                        <input type="text" style="width:235px;" name="practicumcollege" />
                    </label>
                    <br />
                    <label>
                        Werkcollege:
                        <br />
                        <input type="text" style="width:235px;" name="werkcollege" />
                    </label>
                </fieldset>
            </div>


            <div class="col-lg-offset-10">
                <input class="btn-default" id="opslaanContacturen" type="submit" name="opslaanDoorgevenContactUren" value="Opslaan" />
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </fieldset>
    </div>
</body>
</html>
