@model Roostersysteem.Models.Vak
@{
    ViewBag.Title = "Vakken";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <ol class="breadcrumb">
        <h1>Roostersysteem Zuyd</h1>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li><a href="#">Rooster</a></li>
        <li class="active">Rooster</li>
    </ol>
    <div class="row">
        <div class="col-lg-12">
            <h1>
                Selectie vakken
            </h1>
            <p>Selecteer de mogelijke vakken om te geven:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="checkbox">
                <label id="labelsVakken"><input type="checkbox"> Scripting</label>
                <label id="labelsVakken"><input type="checkbox"> Professioneel handelen</label>
                <label id="labelsVakken"><input type="checkbox"> Inleiding ICT</label>
                <label id="labelsVakken"><input type="checkbox"> Requirements engineering</label>
                <label id="labelsVakken"><input type="checkbox"> Teamvaardigheden</label>
                <label id="labelsVakken"><input type="checkbox"> Bedrijfsprocessen en dienstverlening</label>
            </div>
        </div>
        <div class=" col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">Mijn Vakken</div>
                <div class="panel-body">Hier vakken weergeven</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-5">
            <div align="right">
                <input class="btn-default" id="opslaanVakken" type="submit" name="opslaanVakkenKoppelen" value="Opslaan">
            </div>
        </div>
    </div>
</body>
</html>
