@model List<Roostersysteem.Models.Vak>
@{
    ViewBag.Title = "VakkenWijzigen";
}

<h2>Vakken Wijzigen</h2>

<h3>Weet u zeker dat u Modelleren wilt wijzigen naar Programmeerconcepten?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Wijzigen" class="btn btn-default" /> |
            @Html.ActionLink("Terug", "VakkenBekijken")
        </div>
    }
</div>
