@using Roostersysteem.Models
@model ValiderenViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Validatie</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <section id="ValiderenForm">
                    <!--form start-->
                    @using (Html.BeginForm("Valideren", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form-container", role = "form" }))
                    {
                        <div class="row">
                            <div class="col-lg-6">
                                <h1>
                                    Inlog pagina
                                </h1>
                            </div>
                            <div class="col-lg-2">
                                <img src="../../images/ZuydMiniLogo.png" width="100" height="100" alt="ZUYD" />
                            </div>
                        </div>
                        //@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.verificatiecode, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.verificatiecode, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.verificatiecode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Valideer" class="btn btn-default" />
                            </div>
                        </div>
                    }

                </section>
                <div class="col-md-4 col-sm-4 col-xs-12"></div>
            </div>
        </div>


    </div>

</body>
</html>
