@model Roostersysteem.Models.LokaalType

@{
    ViewBag.Title = "Details";
}

<h2>Details type lokaal</h2>

<div>
    <h4>LokaalType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LokaalTypeNaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LokaalTypeNaam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LokaalTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
